includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon.php

parameters:
    treatPhpDocTypesAsCertain: false
    level: 8
    paths:
        - src
        - tests
